<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>生成工具</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="row">
    <form action="/number" class="form-horizontal" method="get">
        <div class="col-lg-6">
            <div class="input-group">
      <span class="input-group-btn">
        <button  type="submit" class="btn btn-default" >重新生成</button>
      </span>
                <input th:value="${id}" class="form-control" placeholder="点击重新生成进行更新">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>

</div><!-- /.row -->

<script th:src="@{/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>